@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Easy Warehouse</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Easy Warehouse</h2>
        <p>
            Easy Warehouse is a simple inventory management application that 
            allows users to update, add, delete, or edit their store inventory. 
        </p>
    </div>
</div>